@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #11141f;
  color: white;
}

.inputs {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px
}

.inputs-container {
  text-align: center;

}

.no-movies-found-paragraph {
  margin-top: 10%;
  margin-left: 40%;
  font-size: 30px;
}
