@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,22,29,1) 0%, rgba(122,122,148,1) 71%, rgba(118,179,205,1) 100%, rgba(0,212,255,1) 100%);
  color: white;
  z-index: -1;
}

.inputs {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px
}

.inputs-container {
  text-align: center;

}

.no-movies-found-paragraph {
  display:flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 25px;
}
footer {
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 15%
}


.search-list-container {
  position: absolute
}


.search-list-container button {
  margin-left: 640px;
  margin-top: -17px;
} 

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}